* text=auto
*.bat eol=crlf
*.cmd eol=crlf
*.vcproj eol=crlf
*.vcxproj eol=crlf
*.csproj eol=crlf
*.nsi eol=crlf
*.sln eol=crlf
*.vbs eol=crlf
*.txt eol=crlf
*.log eol=crlf
*.config eol=crlf
*.hjson eol=crlf
*.obj eol=lf
*.mtl eol=lf
*.qfont eol=lf
CMake*.txt eol=lf
robots.txt eol=lf
*.sh eol=lf